:root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Inter, Avenir, Helvetica, Arial, sans-serif;
  /* font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.bg-gradient {
  background-image: linear-gradient(to bottom, rgb(86,160,245), rgb(73,146,245), rgb(54,122,246));
  /* background-image: linear-gradient(to bottom, orange, rgb(54,122,246)); */
  background-size: cover;
  background-position: center;
  background-attachment: fixed;  /* <- here it is */

  /* width: 100vw; */
  /* height: 900px; */
}